		<body>
		<div class="main-div">
			 <div class="my-div"><h2>Bio</h2></div>
			 <div class="my-div"><h2>Mad Skills</h2></div>
			 <div class="my-div"><h2>Hobbies</h2></div>
		</div>

		<div class="main-div">
			 <div class="my-div1">
			 	<p>I grew up in a small town by the name of Pinedale, Wyoming! I moved to Salt Lake City, Utah in 2007 and love every minute of it. My entire career up to this point has been with large scale sales teams and clients, but my love has always been with programming and web design. I love problem solving and creating web apps! Career after my own heart!</p>

			 </div>
			 <div class="my-div1">
			 		<h4>HTML 5</h4>
			 		<h4>CSS 3</h4>	
			 		<h4>RUBY</h4>
			 		<h4>RUBY ON RAILS</h4>
			 		<h4>BOOTSTRAP 4</h4>
			 		<h4>GIT</h4>
			 		<h4>COMMAND LINE</h4>

			 </div>
			 <div class="my-div1">
			 	<p>My first love for a hobby is long range shooting! This take a lot of patience and skill in order to do this effectively. You need to understand many different elements and how your gun shoots.</p>
			 	<p>My second love is writing code. It is not work for me, it is just fun. I love how you can manefest anything you want with a little bit of problem solving and creativity.</p>

			 </div>
		</div>
	</body>