<h1>Let's Build Something Awesome</h1>
<hr>

<div class="row">
	<div class="col-md-6">
		<div class="contact_content">
			<h3>Office Address</h3>

			<p>See Google Map</p>

			<h3>Call Me</h3>

			<p><%= number_to_phone "8018793433"%></p>

			<h3>Email</h3>

			<p><a href="mailto:cody.higginsdev18@gmail.com?subject=PortfolioContact">Let's Talk</a></p>
		</div>
	</div>
	
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.263514085571!2d-111.98723524923771!3d40.62407025082611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528e9175c583a5%3A0x1110dd0a30a55036!2s7052+Cherry+Leaf+Dr%2C+West+Jordan%2C+UT+84084!5e0!3m2!1sen!2sus!4v1489167774592" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>	





<!-- <p><%= number_to_currency "23414"%></p> -->

<!-- <p><%= number_to_percentage "80.3"%></p> -->

<!-- <p><%= number_with_delimiter "3453463"%></p> -->